.idea
/.idea
/thesis_venv
__pycache__s
__pycache__
/trajectories/dagger/*
/trajectories/thrifty/*
wandb/
/src/training/dagger/demos/
/src/training/dagger/checkpoint*
/src/training/dagger/policy*
MUJOCO_LOG.TXT
/training/
/test/
/results/
/thesis.egg-info/
/build/
policies/*
nohup*
/.vscode
/venv
src/data/ColtransPolicy/ColtransPolicy_sGenerator(PCG64)/*