.idea
/.idea
/thesis_venv
__pycache__s
/trajectories/dagger/*
/trajectories/thrifty/*
wandb/
/src/training/dagger/demos/
/src/training/dagger/checkpoint*
/src/training/dagger/policy*
MUJOCO_LOG.TXT
/training/
/test/
/results/*
/training_data*/