[submodule "uav_trajectories"]
	path = uav_trajectories
	url = git@github.com:leonthorm/uav_trajectories.git
[submodule "imitation-fork"]
	path = imitation-fork
	url = git@github.com:leonthorm/imitation-fork.git
